* {
	margin: 0;
	padding: 0;
	font-family: 'Open Sans';
}

a {
	text-decoration: none;
	color: #fff;
}

h1, h2, h3, h4, h5, h6 {
	margin: 0;
}

nav {
	background-color: #1F4788;
	position: relative;
}

nav:after {
	background-color: red;
	border-radius: 50%;
	bottom: 0;
	box-shadow: 0 7px 15px #000;
	content: '';
	left: 10%;
	position: absolute;
	right: 10%;
	top: 0;
	z-index: -2;
}

nav ul {
	margin-bottom: 0;
	margin-top: 0;
}

nav ul li {
	display: inline-block;
	margin: 0;
}

nav ul li a {
	display: block;
	margin-right: 1rem;
	min-width: auto;
	padding: 10px;
	text-align: center;
}

nav ul li a:hover {
	background-color: #6C7A89;
	color: #fff;
}

.logo a {
	letter-spacing: .3rem;
}

.logo a:hover {
	background-color: transparent;
	color: #FCC9B9;
	letter-spacing: auto;
}

.style {
	width: 100%;
	height: 2px;
	background-color: #000;
}

.frame {
	border: 1px solid #8F1D21;
	box-shadow: 0 2px 4px #8F1D21;
	margin-bottom: 2rem;	
	margin-left: 0;
	margin-right: 0;
	margin-top: 35%;
	width: 240px;
	padding: .4rem;
	cursor: pointer;
}

.frame img {
	width: 100%;
}

.body {
	padding-top: 10px;
	min-height: calc(100vh - 170px);
}

.body h2 {
	text-align: center;
	margin-top: 1rem;
	margin-bottom: 1rem;
}

.body p {
	text-align: justify;
}

.second {
	margin-top: 3rem;
}

.pre-footer {
	background-color: #d1d1d1;
	padding-top: 1rem;
	padding-bottom: 1rem;
}

.footer {
	background-color: #414141;
	color: #fff;
	height: 20px;
	padding-top: 3rem;
	padding-bottom: 3rem;
}

.social-icons {
	background-color: #0a0a0a;
}

.social-icons a {
	padding-left: 1rem;
	padding-right: 1rem;
}

/* Menu STYLING */
.menu {
	height: 100vh;
	background-color: rgba(0,0,0,0.7);
	z-index: 111;
	transition: all .3s;
	display: flex;
	justify-content: center;
}

.menu ul {
	align-self: center;
	list-style-type: none;
	margin: 0;
}

.menu ul li {
	margin: 0;
}

.menu ul a {
	padding: 1rem;
	text-align: center;
	display: block;
	font-variant: small-caps;
	font-size: 150%;
	transition: font-size .5s;
	font-weight: 700;
}

.menu ul li a:hover {
	color: #fff;
	font-size: 300%;
}

.menu .close {
	cursor: pointer;
}

.menu .close:hover {
	color: #ff0000;
	font-size: 400%;
}

.menu-show {
	position: fixed;
	left: 0;
	top: 0;
	bottom: 0;
	transition: all .3s;
	width: 100%;
}

.menu-hide {
	position: fixed;
	left: 0;
	top: 100%;
	bottom: 0;
	transition: all .3s;
	width: 100%;
}

.contact {
	display: flex;
	height: 100%;
	text-align: center;
	padding-top: 30vh;
	position: relative;
}

.contact .fancy-text::before {
	content: 'Please drop your queries at : ';
	font-size: 40%;
	position: absolute;
	top: -30%;
}